{% extends "graph/base.html" %}
{% load i18n %}

{% block title %}
    Graph
{% endblock %}

{% block center_details %}
	{{ block.super }}

	<div class="one_column_content">
		<h1>Annotations for {{ userFullName }}</h1>
		{% if annotations %}
			<p>You have a total of {{ num_annotations }} annotations.<p>
			<p>There are {{ num_xls }} Excel files, {{ num_csv }} CSV files and {{ num_txt }} TXT files</p>
			<p>Select an annotation from the list and state which row holds the column names.
				Leave 'Header' blank if there are no column names.</p>
			<span id="test"></span>
			<form class="standard_form settings_form" action="{% url 'preview' %}" method="POST" id="preview_form">{% csrf_token %}
				{{ prev_form.annotation.errors }}
				{% for field in prev_form %}
					{% ifequal field.label_tag prev_form.preview_sheet.label_tag %}
						<p id="preview_sheet">{{ field.label_tag }}
						   {{ field }}</p>
					{% else %}
						<p>{{ field.label_tag }}
						   {{ field }}</p>
					{% endifequal %}
				{% endfor %}
				<input value="Preview" type="submit" />
			</form>
			<div id="preview_data"></div>
			<form class="standard_form settings_form" action="{% url 'find' %}" method="POST" id="annotation_form">{% csrf_token %}
				{{ form.annotation.errors }}
				{% for field in form %}
					{% ifequal field.label_tag form.sheet.label_tag %}
						<p id="sheet">{{ field.label_tag }}
						   {{ field }}</p>
					{% else %}
						<p>{{ field.label_tag }}
						   {{ field }}</p>
					{% endifequal %}
				{% endfor %}
				<input value="Get Columns" type="submit" />
			</form>
			<div id="graph_setup_dialog" class="graph-dialog" title="Graph settings">
				<div id="django_message"></div>
				<form action="" method="POST" id="plotform">{% csrf_token %}
					{{ graph_form.as_p}}
				</form>
			</div>
		{% else %}
		    <p>No annotations.</p>
		{% endif %}

	</div>
	<div class="graph-container" id="graph_container">
		<div id="graph_placeholder" class="graph-placeholder"></div>
		<div id="graph_toolbar" class="graph-toolbar">
			<div class="tooltip-container">
				<p><label><input id="enableTooltip" type="checkbox" checked="checked"></input>Enable tooltip</label></p>
			</div>
            <a class="btn btn_text silver" id="graph_save">
                <span>Export to OMERO</span>
            </a>
            <a class="btn btn_text silver" id="graph_edit">
                <span>Edit</span>
            </a>
		</div>
	</div>
	<div id="graph_edit_dialog" class="graph-dialog" title="Graph settings">
		<p><label for="graph_title">Title</label>
		   <input type='text' id="graph_title" /></p>
		<p><label for="graph_xLabel">X Label</label>
		   <input type='text' id="graph_xLabel"/></p>
		<p><label for="graph_yLabel">Y Label</label>
		   <input type='text' id="graph_yLabel"/></p>
	</div>
	
{% endblock %}

{% block body %}
	{{ block.super }}
	
	<script src="{% static 'graph/js/jquery.flot.js' %}"></script>
	<script src="{% static 'graph/js/jquery.flot.axislabels.js' %}"></script>
	<script src="{% static 'graph/js/underscore.js' %}"></script>
	<script src="{% static 'graph/js/backbone.js' %}"></script>
	<script src="{% static 'graph/js/html2canvas.js' %}"></script>
	<script type="text/javascript" src="{% static '3rdparty/jquery.chosen-1.2.0/chosen.jquery.js' %}"></script>
	<script src="{% static 'graph/js/models.js' %}"></script>
	<script src="{% static 'graph/js/views.js' %}"></script>
	<script src="{% static 'graph/js/application.js' %}"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#id_preview_annotation").chosen({disable_search_threshold: 10,placeholder_text:'Choose annotation to preview'});
			$("#id_annotation").chosen({disable_search_threshold: 10,placeholder_text:'Choose annotation to plot'});
			$("#id_x").chosen({disable_search_threshold: 10,placeholder_text:'Choose data for x axis',width: "300px"});
			$("#id_y").chosen({disable_search_threshold: 10,placeholder_text:'Choose columns to plot',width: "300px"});
			$("#preview_sheet").hide();
			$("#sheet").hide();
			$("#graph_setup").hide();
			$(".graph-container").hide();
			$("#graph_toolbar").hide();
			
			if ($('#id_annotation').val().indexOf('xls')>0) {
						$("#preview_sheet").show();
						$("#sheet").show();
					};
			$('#id_preview_annotation').on('change',function() {
				var prev_annotation = $('#id_preview_annotation').val();
				if (prev_annotation.indexOf('xls')>0) {
					$("#preview_sheet").show();
				}
				else {
					$("#preview_sheet").hide();
				}
			});
			$('#id_annotation').on('change',function() {
				var annotation = $('#id_annotation').val();
				if (annotation.indexOf('xls')>0) {
					$("#sheet").show();
				}
				else {
					$("#sheet").hide();
				}
			});
		});
	</script>
			
{% endblock %}
