{% extends "graph/base.html" %}
{% load i18n %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "webgateway/css/ome.body.css" %}"/>
    <link rel="stylesheet" href="{% static "webgateway/css/ome.table.css"|add:url_suffix %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "3rdparty/jquery.tablesorter-2.0.3/jquery.tablesorter.css" %}" type="text/css" media="screen"/>
	<link rel="stylesheet" href="{% static '3rdparty/jquery.chosen-1.2.0/chosen.css' %}" type="text/css" media="screen"/>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript" src="{% static '3rdparty/jquery.chosen-1.2.0/chosen.jquery.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#id_preview_annotation").chosen({disable_search_threshold: 10,placeholder_text:'Choose annotation to preview'});
		$("#id_annotation").chosen({disable_search_threshold: 10,placeholder_text:'Choose annotation to plot'});
		$("#id_x").chosen({disable_search_threshold: 10,placeholder_text:'Choose data for x axis',width: "300px"});
		$("#id_y").chosen({disable_search_threshold: 10,placeholder_text:'Choose columns to plot',width: "300px"});
		$("#preview_sheet").hide();
		$("#sheet").hide();
		$("#setup_container").hide();
		$("#plot_container").hide();
		$(".flot-container").hide();
		$("#flot_toolbar").hide();
				
		if ($('#id_annotation').val().indexOf('xls')>0) {
			$("#preview_sheet").show();
			$("#sheet").show();
		};
		$('#id_preview_annotation').on('change',function() {
			var prev_annotation = $('#id_preview_annotation').val();
			if (prev_annotation.indexOf('xls')>0) {
				$("#preview_sheet").show();
			}
			else {
				$("#preview_sheet").hide();
			}
		});
		$('#id_annotation').on('change',function() {
			var annotation = $('#id_annotation').val();
			if (annotation.indexOf('xls')>0) {
				$("#sheet").show();
			}
			else {
				$("#sheet").hide();
			}
		});

		var prev_frm = $('#preview_form');
		prev_frm.submit(function(event) {
			event.preventDefault();
			var prev_sheet = $('#id_preview_sheet').val();
			var prev_annotation = $('#id_preview_annotation').val();
			$.ajax({
				traditional: true,
				type: "POST",
				url: prev_frm.attr('action'),
				data : {'preview_annotation' : prev_annotation, 'preview_sheet': prev_sheet},
				success: function(prevresults) {
					console.log(prevresults)
					if ($("#prev_text").length === 0){
						$("#preview_data").append('<p id=prev_text></p>');
						for (i=0;i<prevresults.preview_data.length;i++){
							$("#prev_text").append('Row '+String(i)+':      '+prevresults.preview_data[i]+'</br>');
						}
					}
					else{
						$("#prev_text").empty();
						for (i=0;i<prevresults.preview_data.length;i++){
							$("#prev_text").append('Row '+String(i)+':      '+prevresults.preview_data[i]+'</br>');
						}
					};
			  },
	          statusCode: {
	              400: function() {
	                  alert("Too many rows in annotation");
				  }
	          }
			});
		});
		
		var ann_frm = $('#annotation_form');
		ann_frm.submit(function(event) {
			event.preventDefault();
			var header = $('#id_header').val();
			var sheet = $('#id_sheet').val();
			var annotation = $('#id_annotation').val();
			console.log("header",header,"annotation",annotation)
			$.ajax({
				traditional: true,
				type: "POST",
				url: ann_frm.attr('action'),
				data : {'annotation' : annotation, 'header': header, 'sheet': sheet},
				success: function(results) {
					console.log(results)
					var xoptions = $("#id_x");
					var yoptions = $("#id_y");
					var columns = results.columns;
					$("#id_x").empty();
					$("#id_y").empty();
					for (i = 0; i < columns.length; i++) {
						xoptions.append($("<option />").val(columns[i][0]).text(columns[i][1]));
						yoptions.append($("<option />").val(columns[i][0]).text(columns[i][1]));
					}
					$("#id_x").trigger("chosen:updated");
					$('#id_x').val('').trigger('liszt:updated');
					$("#id_y").trigger("chosen:updated");
					$('#id_y').val('').trigger('liszt:updated');
					$("#setup_container").show();
			  },
	          statusCode: {
	              400: function() {
	                  alert("Too many rows in annotation");
				  }
	          }
			});
		});
			
		var plot_frm = $('#plotform');
		plot_frm.submit(function(event) {
			event.preventDefault();
			var x = $('#id_x').val();
			var y = $('#id_y').val();
			var annId = "{{ request.session.annotation_id }}";
			console.log("the form has beeen submitted");
			console.log("x:",x,"y:",y)
			$.ajax({
				traditional: true,
				type: "POST",
				url: "/graph/plot/",
				data : {'x' : x, 'y': y},
				success: function(plotresults) {
					console.log(plotresults)
					console.log(plotresults.message)

					function generateData(fseriesdata) {
					    series = [];
					    for (fi = 0; fi < fseriesdata.length; fi++) {
					        var fd = fseriesdata[fi];
				            series.push({
								label: 'Series'+String(fi),
				                data: fd
				            });
					    }
					    return series;
					};
					var data = generateData(plotresults.flot_data);
					$('#id_annotation').val('').trigger('liszt:updated');
					
					var options = {
						axisLabels: {
						            show: true
						        },
						xaxes: [{
				            axisLabel: x,
							//axisLabelUseCanvas: true,
							//axisLabelPadding: 5
						        }],
				        yaxes: [{
				            position: 'left',
				            axisLabel: y,
							//axisLabelUseCanvas: true,
							//axisLabelPadding: 5
				        }],
						series: {
							lines: {
								show: true
							},
							points: {
								show: true
							}
						},
						grid: {
							hoverable: true,
							clickable: true
						},
						xaxis: {
							tickDecimals: 0,
							tickSize: plotresults.xmax / 10
				        }
					};
					
					$(".flot-container").show();
					$("#flot_toolbar").show();
					var plot = $.plot("#flot_placeholder", data, options);
					var canvas = plot.getCanvas();
					var c = canvas.getContext("2d");
					var cx = canvas.width / 2;
					var cy = canvas.height;
					var title = plotresults.title;
					var xlabel = x;
					c.font = "bold 16px sans-serif";
					c.textAlign = 'center';
				    c.fillText(title,cx,30);
					
					var tooltip = $("#tooltip");
					if (tooltip.length === 0){
						$("<div id='tooltip'></div>").css({
							position: "absolute",
							display: "none",
							border: "1px solid #fdd",
							padding: "2px",
							"background-color": "#fee",
							opacity: 0.80,
							font: "18px/1.5em proxima-nova, Helvetica, Arial, sans-serif",
							color: "#000000"
						}).appendTo("body");
					};
					$("#flot_placeholder").bind("plothover", function (event, pos, item) {

						if ($("#enableTooltip:checked").length > 0) {
							if (item) {
								var tipx = item.datapoint[0].toFixed(2),
									tipy = item.datapoint[1].toFixed(2);

								$("#tooltip").html(item.series.label + ", (x: " + tipx + " , y: " + tipy + ")")
									.css({top: item.pageY+5, left: item.pageX+5})
									.fadeIn(200);
							} else {
								$("#tooltip").hide();
							}
						}
					});
					$(".xaxisLabel").on("click",function(){
						$(".xaxisLabel").replaceWith("<input></input>");
					});
					$('#flot_save').click(function(){
						$("#flot_toolbar").hide();
						html2canvas($('#flot_container'), {
						    onrendered: function (fcanvas) {
						        img = fcanvas.toDataURL("image/png");
								$.ajax({
									traditional: true,
									type: "POST",
									url: "/graph/save",
									data : {'img' : img },
									success: function(saveresults) {
										console.log(saveresults)
										$("#flot_toolbar").show();
										alert(saveresults.message);
								  },
						          statusCode: {
						              400: function() {
						                  alert(saveresults.message);
									  }
						          }
							  });
						    }
						});
					});
			  },
			  error: function(error) {
			    console.log(error)
			  }
			});
		});
	});
	</script>
{% endblock%}

{% block title %}
    Graphs
{% endblock %}

{% block center_details %}
{{ block.super }}

<div class="one_column_content">
	<h1>Annotations for {{ userFullName }}</h1>
	{% if annotations %}
		<p>You have a total of {{ num_annotations }} annotations.<p>
		<p>There are {{ num_xls }} Excel files, {{ num_csv }} CSV files and {{ num_txt }} TXT files</p>
		<p>Select an annotation from the list and state which row holds the column names.
			Leave 'Header' blank if there are no column names.</p>

		<form class="standard_form settings_form" action="{% url 'preview' %}" method="POST" id="preview_form">{% csrf_token %}
			{{ prev_form.annotation.errors }}
			{% for field in prev_form %}
				{% ifequal field.label_tag prev_form.preview_sheet.label_tag %}
					<p id="preview_sheet">{{ field.label_tag }}
					   {{ field }}</p>
				{% else %}
					<p>{{ field.label_tag }}
					   {{ field }}</p>
				{% endifequal %}
			{% endfor %}
			<input value="Preview" type="submit" />
		</form>
		<div id="preview_data"></div>
		<form class="standard_form settings_form" action="{% url 'find' %}" method="POST" id="annotation_form">{% csrf_token %}
			{{ form.annotation.errors }}
			{% for field in form %}
				{% ifequal field.label_tag form.sheet.label_tag %}
					<p id="sheet">{{ field.label_tag }}
					   {{ field }}</p>
				{% else %}
					<p>{{ field.label_tag }}
					   {{ field }}</p>
				{% endifequal %}
			{% endfor %}
			<input value="Get Columns" type="submit" />
		</form>

	{% else %}
	    <p>No annotations.</p>
	{% endif %}
	<div id="setup_container">
		<div id="django_message"></div>
		<form class="standard_form settings_form" action="" method="POST" id="plotform">{% csrf_token %}
		    {{graph_form.as_p}}
		    <input value="Plot" type="submit" />
		</form>
	</div>
</div>
<div class="flot-container" id="flot_container">
	<div id="flot_placeholder" class="flot-placeholder"></div>
	<div id="flot_toolbar" class="flot-toolbar">
		<p><label><input id="enableTooltip" type="checkbox" checked="checked"></input>Enable tooltip</label></p>
		<button type="button" id="flot_save">Export to OMERO</button>
	</div>
</div>

{% endblock %}