.graph-container {
	box-sizing: border-box;
	width: 100%;
	height: 550px;
	padding: 20px 15px 15px 15px;
	border: 1px solid #ddd;
	background: #fff;
	margin: 0px auto 0px auto;
	/*background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);*/
}

.graph-placeholder {
	width: 100%;
	height: 90%;
	font-size: 14px;
	line-height: 1.2em;
}

.graph-toolbar {
	width: 100%;
	height: 100px;
}

.legend table {
	border-spacing: 5px;
}

.graph-dialog label, input { display:block; }
.graph-dialog input.select { margin-bottom:12px; width:95%; padding: 10px; }
input.text { margin-bottom:12px; width:95%; padding: 10px; }
#id_title { width: 290px;}
#id_xLabel { width: 138px;}
#id_yLabel { width: 138px;}
#graph_title { width: 290px;}
#graph_xLabel { width: 138px;}
#graph_yLabel { width: 138px;}

.tooltip-container label, input { display:inline;}