<script>
$(function() {

    // Initialise the center panel plugin, on our specified element
    $("#omero_signup_panel").omeroweb_center_plugin({

        // To support single item selection, we can specify the types like this.
        // Tab will only be enabled when a single dataset is selected
        supported_obj_types: ['dataset'],

        load_plugin_content: function(){

            // since we currently limit our dtype to 'dataset', oid will be dataset ID
            // Use the 'index' of your app as base for your URL
            var omero_signup_url = '{% url "omero_signup_requests" %}/';
            $(this).load(omero_signup_url);
        }
    });
});
</script>