{% extends "omero_graph/base.html" %}
{% load i18n %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "webgateway/css/ome.body.css" %}"/>
    <link rel="stylesheet" href="{% static "webgateway/css/ome.table.css"|add:url_suffix %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "3rdparty/jquery.tablesorter-2.0.3/jquery.tablesorter.css" %}" type="text/css" media="screen"/>
	<link rel="stylesheet" href="{% static '3rdparty/jquery.chosen-1.2.0/chosen.css' %}" type="text/css" media="screen"/>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script type="text/javascript" src="{% static '3rdparty/jquery.chosen-1.2.0/chosen.jquery.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#id_annotation").chosen({disable_search_threshold: 10,placeholder_text:'Choose annotation to plot'});
		$("#setup_container").hide();
		
		var frm = $('#annotation_form');
		frm.submit(function(event) {
			event.preventDefault();
			var annotation = $('#id_annotation').val();
			console.log(annotation)
			$.ajax({
				traditional: true,
				type: "POST",
				url: frm.attr('action'),
				data : {'annotation' : annotation},
				success: function(results) {
					console.log(results)
					$.ajax({
						traditional: true,
						type: "POST",
						url: "plot/"+results.id+"/",
						data : {'annotation' : annotation},
						success: function(results) {
							console.log(results)
							$("#setup_container").show();
						},
		  			  	error: function(error) {
		  			    	console.log(error)
		  			  	}
					});
					//$("#setup_container").show();
			  },
			  error: function(error) {
			    console.log(error)
			  }
			});
		});
	});
	</script>
{% endblock%}

{% block title %}
    Graphs
{% endblock %}

{% block center_details %}
{{ block.super }}

<div class="one_column_content">
	<h1>Annotations for {{ userFullName }}</h1>
	{% if annotations %}
		<form action="{% url 'find' %}" method="POST" id="annotation_form">{% csrf_token %}
		    {{form.as_p}}
			<button type="submit">Plot</button>
		</form>
	{% else %}
	    <p>No annotations.</p>
	{% endif %}
	<div id="setup_container">
		<form action="" method="POST" id="plotform">{% csrf_token %}
		    {{setup_form.as_p}}
		    <button type="submit">Plot</button>
		</form>
	</div>
</div>
{% endblock %}