
{% load i18n %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "webgateway/css/ome.body.css" %}"/>
    <link rel="stylesheet" href="{% static "webgateway/css/ome.table.css"|add:url_suffix %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "3rdparty/jquery.tablesorter-2.0.3/jquery.tablesorter.css" %}" type="text/css" media="screen"/>
{% endblock %}

{% block title %}
    Graphs
{% endblock %}

{% block center_details %}
{{ block.super }}

<div class="one_column_content">
	<h1>Annotations for {{ userFullName }}</h1>
	{% if annotations %}
	    <ul>{% for annotation in annotations %}
			<li>
				<a href="{% url 'show' annotation.id %}">{{ annotation.getFile.getName }}</a>
			    <input type="checkbox" name="skip header" value="first line header?" />{{email}}<br />
			</li>
	    {% endfor %}</ul>
	{% else %}
	    <p>No annotations.</p>
	{% endif %}

	{% block metadata_details %}
	    <br/>
	{% endblock %}
</div>
{% endblock %}